
.slick-next{
    right: 4px;
    // background: red;
    top: -180px;
    padding: 37px;
    border-radius: 50%;
}


.slick-prev{
    left: 1019px;
    // background: red;
    top: -180px;
    padding: 37px;
    border-radius: 50%;
    
}

.tourCard__img {
    height: 290px;
    width: 384px;
    border-radius: 20px;
}