.recommended {
    margin-top: 132px;


    &_title {
        font-size: 48px;
        font-weight: 700;
        line-height: 65px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__container {
        margin-top: 72px;
        display: flex;
        flex-wrap: wrap;
        
    }

    &__tours{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 72px;
    }

    &__tour-container{
        border-radius: 5px;
    }

    &__tour {
        width: 282px;
        height: 282px;
        border-radius: 14px;
    }
}